
.box{
    display: flex;
    flex-direction: column;
}

.userPhoto{

    width: 100px;
    height: 100px;
    border-radius: 60px;
    display: block;
}

.box_item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
}

.box_item__info{
    display: flex;
    align-items: center;
    padding-left: 40px;
}

.box_item__info div{
    font-size: 20px;
    font-weight: normal;
    font-family: sans-serif;
    padding-left: 20px;
    color: white;

}


.box_item__info div button{

    width: 100%;
    padding: 5px;
    height: 45px;
    border-radius: 10px;
    background-color: yellowgreen;
    font-size: 18px;
    text-transform: uppercase;
    color: #ffffff;
    border: 1px solid peru;
}
.selectodPage{
    font-weight: bold;
}